<!DOCTYPE html>
<html>
  <head>
    <title> PERFECT LEARN </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
        <%= render "layouts/user/header" %>
         <div id="" >
          <% flash.each do |message_type, message| %>
          <div class="alert alert-<%= message_type %> text-black">
            <%= message %>  
        <% end %>
      </div>
        <%= yield %>         
        <%= render "layouts/user/footer" %>
  </body>
</html>